# Grid Search Practice

Grid search is a way of finding better hypermeters, those that define the configuration of the model and not altered by learning of the model.
It is also known as Exhaustive Grid Search, because it takes many parameter options and creates a search space with cartesian product and then exhaust and evaluate all of these possibilities.
In essence, it is a brute force algorithm.
Let's get familiarize with its usage through practice.

First, we prepare some data.

In [1]:
from time import time
import os, itertools
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

DATASET = '/dsa/data/all_datasets/titanic_ML/titanic.csv'
assert os.path.exists(DATASET)

from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

dataset = pd.read_csv(DATASET).sample(frac = 1).reset_index(drop=True)
X = dataset.iloc[:, :-1]
y = dataset.survived

## Parameter Grid

As a model selection approach, the grid search allows you to investigate the optimal choice of model parameters by specifying the variations for each parameter.

For example, the SVC model has an error penalty parameter `C` in the model,
and we can specify the parameter grid as a dictionary, with the name of the parameter in question, then define the variations of the parameter in a list:

```python
param_grid = {'C': [1e3, 1e4] }
```

The dictionary allows us to supply the variations for different parameters:

```python
param_grid = {'C': [1e3, 1e4],
              'gamma': [1e-4, 1e-3], }
```

Conceptually, the parameter grid dictionary represents a cartesian product of the parameter variations, which contains all the configurations of the models that will be evaluated.  
In other words, the above `param_grid` helps to set up the following 4 models to evaluate:

```python
SVC(C=1e3, gamma=1e-4, ...)
SVC(C=1e3, gamma=1e-3, ...)
SVC(C=1e4, gamma=1e-4, ...)
SVC(C=1e4, gamma=1e-3, ...)
```

But sometimes this kind of cartesian product will generate too many models, more than desired.
We can also provide multiply dictionaries as alternative options.

Consider the difference between
```python
param_grid = [{'C': [1e3, 3e3],
              'gamma': [1e-4, 1e-3], },
             {'C': [5e2, 1e3],
              'gamma': [5e-5, 1e-4], }]
=> 2*2+2*2 = 8 models

```

and

```python
param_grid = [{'C': [1e3, 3e3, 5e2],
              'gamma': [1e-4, 1e-3, 5e-5], }]
=> 3*3 = 9 models
```

## Cross Validation

Not only does the Grid Search help you set up various configurations of models, it also sets up cross validation to provide more objective evaluation metrics of these models. `cv` parameter is used to specify number of cross validation folds used for evaluation.

## Practice

With the parameter grid and cross validation, the grid search results in a lot of computation.
However, we can leverage multiple processors available to accelerate the task, with `n_jobs` parameter, although be aware that in your Jupyter server learning environment, there may be resource limits to ensure fairness, i.e. you may not be able to use as many CPU cores as you can see, so we use a relatively low number in that parameter.

Now let's practice GridSearchCV usage, create a GridSearchCV, **named `clf`**:

1. Create at least 8 models with variations in `C`, `gamma` or your choice.
2. Use 5 fold cross validation.
3. Use 2 parallel jobs.

In [2]:
# Add your code for the above task here:   (Question #P001)
# ----------------------------------------

param_grid = {'C': [0.1, 1, 1e2, 1e3],
             'gamma':[0.001, 0.1, 1, 1e2]}

clf = GridSearchCV(SVC(class_weight='balanced'), param_grid, cv=5, n_jobs=2)

Fit the model to loaded data `X` and `y`

In [3]:
# Add your code for the above task here:   (Question #P002)
# ----------------------------------------

clf.fit(X, y)

GridSearchCV(cv=5, estimator=SVC(class_weight='balanced'), n_jobs=2,
             param_grid={'C': [0.1, 1, 100.0, 1000.0],
                         'gamma': [0.001, 0.1, 1, 100.0]})

In [4]:
clf.best_estimator_

SVC(C=1000.0, class_weight='balanced', gamma=0.001)

The GridSearchCV creates an abstract classifier, once trained with cross validation, the returned object itself can be used as a classifier that represent the optimal classifier within the given hyperparameter space.
For example, from the example above, `clf` will have many familiar methods like `.predict()`, `.score()`.

In addition, `clf.best_estimator_` gives you access to the best model chosen; `clf.best_score_` stores the accuracy score for the best model as well; `clf.cv_results_` provides details on cross validation.

In [5]:
clf.cv_results_

{'mean_fit_time': array([0.02956462, 0.0304986 , 0.03154988, 0.02652736, 0.02699523,
        0.02841315, 0.03119154, 0.02603054, 0.04640231, 0.05100942,
        0.03321753, 0.02785444, 0.19296975, 0.11609802, 0.03821096,
        0.02882128]),
 'std_fit_time': array([0.00134127, 0.00036413, 0.00030883, 0.00221083, 0.00016208,
        0.00023912, 0.00053051, 0.00065689, 0.00412019, 0.00282968,
        0.00034106, 0.00033752, 0.03363493, 0.02925692, 0.00223942,
        0.00149879]),
 'mean_score_time': array([0.00849223, 0.00954571, 0.01044421, 0.00960207, 0.0076787 ,
        0.00832224, 0.00919991, 0.00843921, 0.00610633, 0.00752211,
        0.00865765, 0.00811634, 0.00612683, 0.00735502, 0.00882578,
        0.00831413]),
 'std_score_time': array([2.43239444e-04, 1.85230130e-04, 1.27825166e-03, 9.83900505e-04,
        4.22067960e-05, 1.10811662e-04, 1.70892171e-04, 2.55528380e-04,
        8.59706321e-05, 2.83555898e-04, 1.31306824e-04, 5.47631647e-05,
        1.64743643e-04, 6.84691337e-05, 1.61617904e-04, 1.27299358e-04]),
 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.1, 1, 1, 1, 1, 100.0, 100.0, 100.0,
                    100.0, 1000.0, 1000.0, 1000.0, 1000.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=[0.001, 0.1, 1, 100.0, 0.001, 0.1, 1, 100.0, 0.001, 0.1,
                    1, 100.0, 0.001, 0.1, 1, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'gamma': 0.001},
  {'C': 0.1, 'gamma': 0.1},
  {'C': 0.1, 'gamma': 1},
  {'C': 0.1, 'gamma': 100.0},
  {'C': 1, 'gamma': 0.001},
  {'C': 1, 'gamma': 0.1},
  {'C': 1, 'gamma': 1},
  {'C': 1, 'gamma': 100.0},
  {'C': 100.0, 'gamma': 0.001},
  {'C': 100.0, 'gamma': 0.1},
  {'C': 100.0, 'gamma': 1},
  {'C': 100.0, 'gamma': 100.0},
  {'C': 1000.0, 'gamma': 0.001},
  {'C': 1000.0, 'gamma': 0.1},
  {'C': 1000.0, 'gamma': 1},
  {'C': 1000.0, 'gamma': 100.0}],
 'split0_test_score': array([0.65730337, 0.60674157, 0.62359551, 0.61235955, 0.64606742,
        0.6741573 , 0.66853933, 0.58426966, 0.76966292, 0.66292135,
        0.58426966, 0.58426966, 0.79775281, 0.59550562, 0.57303371,
        0.58426966]),
 'split1_test_score': array([0.69101124, 0.56179775, 0.62359551, 0.61235955, 0.68539326,
        0.66292135, 0.59550562, 0.57303371, 0.75842697, 0.60674157,
        0.56741573, 0.57865169, 0.74719101, 0.57303371, 0.57865169,
        0.58426966]),
 'split2_test_score': array([0.63483146, 0.52247191, 0.64044944, 0.61235955, 0.64606742,
        0.65730337, 0.63483146, 0.61235955, 0.74719101, 0.65168539,
        0.62359551, 0.61797753, 0.73033708, 0.64606742, 0.61797753,
        0.62921348]),
 'split3_test_score': array([0.63483146, 0.57303371, 0.41011236, 0.39325843, 0.63483146,
        0.69101124, 0.62359551, 0.59550562, 0.7752809 , 0.66853933,
        0.60674157, 0.59550562, 0.78651685, 0.60674157, 0.61235955,
        0.59550562]),
 'split4_test_score': array([0.65730337, 0.58426966, 0.42134831, 0.39325843, 0.66853933,
        0.62921348, 0.59550562, 0.6011236 , 0.74719101, 0.59550562,
        0.58426966, 0.6011236 , 0.73595506, 0.59550562, 0.59550562,
        0.6011236 ]),
 'mean_test_score': array([0.65505618, 0.56966292, 0.54382022, 0.5247191 , 0.65617978,
        0.66292135, 0.62359551, 0.59325843, 0.75955056, 0.63707865,
        0.59325843, 0.59550562, 0.75955056, 0.60337079, 0.59550562,
        0.5988764 ]),
 'std_test_score': array([0.02059585, 0.02788691, 0.1048261 , 0.10733719, 0.01825627,
        0.02041113, 0.02729204, 0.01357646, 0.01145847, 0.03006537,
        0.01965489, 0.01376118, 0.0273844 , 0.02399343, 0.0177656 ,
        0.01651341]),
 'rank_test_score': array([ 5, 14, 15, 16,  4,  3,  7, 12,  2,  6, 12, 10,  1,  8, 11,  9],
       dtype=int32)}

Now from `clf.cv_results_`, can you find where did the value of `clf.best_score_` come from?

Copy-paste the key/value pair from `clf.cv_results_` that shows the source of `clf.best_score_` below:

# Enter your answer below   (Question #P003)
# ----------------------------------------



 {'C': 1000.0, 'gamma': 0.001},

Which was the fastest model to train? What were the parameters to the fastest model?

# Enter your answer below   (Question #P004)
# ----------------------------------------

Based on mean_fit_time and std_fit_time:

 {'C': 0.1, 'gamma': 100.0},

Run a prediction on the first 5 data samples from `X`.

In [6]:
# Enter your answer below   (Question #P005)
# ----------------------------------------


clf.predict(X[:5])

array([0, 0, 1, 0, 1])

In [7]:
dataset.head()

   pclass  sex   age  sibsp  parch     fare  embarked  survived
0       3    1  29.0      0      0   7.8750         1         0
1       3    1  36.0      0      0   7.7500         2         0
2       3    0  22.0      0      0   7.7375         2         1
3       3    1  34.0      0      0   8.6625         1         0
4       3    0   9.0      1      1  15.2458         0         0

In [10]:
# Doing some extra sampling

pred_clf = clf.predict(X[:15])

In [9]:
dataset.head(n=15)

    pclass  sex    age  sibsp  parch     fare  embarked  survived
0        3    1  29.00      0      0   7.8750         1         0
1        3    1  36.00      0      0   7.7500         2         0
2        3    0  22.00      0      0   7.7375         2         1
3        3    1  34.00      0      0   8.6625         1         0
4        3    0   9.00      1      1  15.2458         0         0
5        3    1   0.75      1      1  13.7750         1         0
6        3    1  25.00      0      0   7.8958         1         0
7        1    0  43.00      1      0  89.1042         0         1
8        3    0  16.00      5      2  46.9000         1         0
9        2    1  35.00      0      0  10.5000         1         0
10       2    1  46.00      0      0  26.0000         1         0
11       3    0  24.00      3      1  25.4667         1         0
12       1    0  32.00      0      0  76.2917         0         1
13       3    1  32.50      0      0   9.5000         1         0
14       2    0  41.00      0      1  19.5000         1         1

In [14]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(confusion_matrix(pred_clf, y[:15]))

   0  1
0  8  0
1  3  4

So it doesn't appear like mine was very accurate. I will have to try again with different values of 'C' and 'gamma' to get a better understanding of where the sweet spot lies.